<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationMagazynForm.js"></script>
        <h2><%= pageTitle %></h2>
        <form class="form" method="post" action="<%=formAction%>" onsubmit="return validateForm();" >
          
            <input type="hidden" name="mag_id" value="<%= mag.mag_id%>">    

            <label for="mag_kod"><%= __('mag.fields.code')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_kod')) ? 'error-input' : '' %>" type="text" name="mag_kod" id ="mag_kod" placeholder="2-25 <%= __('form.validation.chars') %>" value="<%= mag.mag_kod%>" 
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_kod" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_kod'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_kod')).message %>
                    <% } %>
            </span>
            

            <label for="mag_nazwa"><%= __('mag.fields.name')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_nazwa')) ? 'error-input' : '' %>" type="text" name="mag_nazwa" id ="mag_nazwa" placeholder="2-100 <%= __('form.validation.chars') %>" value="<%= mag.mag_nazwa%>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_nazwa" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_nazwa'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_nazwa')).message %>
                    <% } %>
            </span>
            

            <label for="mag_krajPrefix"><%= __('mag.fields.countryPrefix')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_krajPrefix')) ? 'error-input' : '' %>" type="text" name="mag_krajPrefix" id ="mag_krajPrefix" placeholder="2-5 <%= __('form.validation.chars') %>" value="<%= mag.mag_krajPrefix%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_krajPrefix" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_krajPrefix'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_krajPrefix')).message %>
                    <% } %>
            </span>
            

            <label for="mag_powierzchnia"><%= __('mag.fields.powierzchnia')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_powierzchnia')) ? 'error-input' : '' %>" type="number" name="mag_powierzchnia" id ="mag_powierzchnia" placeholder="<%= __('form.validation.positiveInteger') %>" value="<%= mag.mag_powierzchnia%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_powierzchnia" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_powierzchnia'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_powierzchnia')).message %>
                    <% } %>
            </span>
            
            
            <label for="mag_iloscRegalow"><%= __('mag.fields.iloscRegalow')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_iloscRegalow')) ? 'error-input' : '' %>" type="number" name="mag_iloscRegalow" id ="mag_iloscRegalow" placeholder="<%= __('form.validation.positiveInteger') %>" value="<%= mag.mag_iloscRegalow%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_iloscRegalow" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_iloscRegalow'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_iloscRegalow')).message %>
                    <% } %>
            </span>
            
            
            <label for="mag_iloscPolozen"><%= __('mag.fields.iloscPolozen')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_iloscPolozen')) ? 'error-input' : '' %>" type="number" name="mag_iloscPolozen" id ="mag_iloscPolozen" placeholder="<%= __('form.validation.positiveInteger') %>" value="<%= mag.mag_iloscPolozen%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_iloscPolozen" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_iloscPolozen'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_iloscPolozen')).message %>
                    <% } %>
            </span>
            
            
            <label for="mag_iloscWozkow"><%= __('mag.fields.cartCount')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_iloscWozkow')) ? 'error-input' : '' %>" type="number" name="mag_iloscWozkow" id ="mag_iloscWozkow" placeholder="<%= __('form.validation.positiveInteger') %>" value="<%= mag.mag_iloscWozkow%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_iloscWozkow" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_iloscWozkow'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_iloscWozkow')).message %>
                    <% } %>
            </span>
            
            
            <label for="mag_iloscHal"><%= __('mag.fields.hallCount')  + ':'%><span class="symbol-required">*</span></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_iloscHal')) ? 'error-input' : '' %>" type="number" name="mag_iloscHal" id ="mag_iloscHal" placeholder="<%= __('form.validation.positiveInteger') %>" value="<%= mag.mag_iloscHal%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_iloscHal" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_iloscHal'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_iloscHal')).message %>
                    <% } %>
            </span>
            
            
            <label for="mag_iloscSkanerow"><%= __('mag.fields.scannerCount')  + ':'%></label>
            <input class="<%= validationErrors.find(e => e.path.includes('mag_iloscSkanerow')) ? 'error-input' : '' %>" type="number" name="mag_iloscSkanerow" id ="mag_iloscSkanerow" placeholder="<%= __('form.validation.positiveInteger') %>" value="<%= mag.mag_iloscSkanerow%>"
            <!-- <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errormag_iloscSkanerow" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('mag_iloscSkanerow'))) { %>
                    <%= validationErrors.find(e => e.path.includes('mag_iloscSkanerow')).message %>
                    <% } %>
            </span> 
            
            <div class="form-buttons">
                <p id="errorsSummary" class="error-text"></p>
                <% if (formMode != 'showDetails') { %>
                    
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a class="form-button-cancel" href="/warehouses"><%= __('form.actions.cancel') %></a>            
                <% } else { %>
                    
                    <a class="form-button-cancel" href="/warehouses"><%= __('form.actions.return') %></a>
                <% } %>
            </div> <p> </p>         
                <% if (formMode == 'showDetails' || formMode == 'edit') {%>
                    <h2>
                        <%= __('prc.list.pageTitle') %>
                    </h2>                    
                    <table class="table-Prac">
                        <thead>
                            <tr>
                                <th><%= __('prc.fields.prc_imie') %></th>
                                <th><%= __('prc.fields.prc_nazwisko') %></th>
                                <th><%= __('prc.fields.prc_dataUrodzenia') %></th>
                                <th><%= __('prc.fields.prc_stanowisko') %></th>
                                <th><%= __('prc.fields.prc_stanCywilny') %></th>
                                <th><%= __('prc.fields.firma') %></th>
                            </tr>
                        </thead>
                        <tbody>
                        <%if(mag.pracownicy)  for (let p of mag.pracownicy) { %>
                            <tr>
                                <td><a href="/employees/details/<%= p.prc_id %>"><%= p.prc_imie %></a></td>
                                <td><%= p.prc_nazwisko %></td>
                                <td><%= p.prc_dataUrodzenia.toISOString().split('T')[0] %></td>
                                <td><%= p.prc_stanowisko %></td>
                                <td><%= p.prc_stanCywilny %></td>                                
                                <td><%= p.firma.frm_nazwa %></td> 
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                <% } %>
                <div style="display: none">
                    <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
                 </div>
                 <div style="display: none">
                    <span id="errorMessage-SummaryErr"><%= __('validationMessage.summaryErr') %></span>
                 </div>
                 <div style="display: none">
                    <span id="errorMessage-NotInRange"><%= __('validationMessage.NotInRange') %></span>
                 </div>
                 <div style="display: none">
                    <span id="errorMessage-NotInRangeInt"><%= __('validationMessage.NotInRangeInt') %></span>
                 </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>