<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('mag.list.pageTitle') %></h2>
        <table class="table-Mag">
           <thead>
               <tr>
                    <th><%= __('mag.fields.code') %></th>
                    <th><%= __('mag.fields.name') %></th>
                    <th><%= __('mag.fields.countryPrefix') %></th>
                    <th><%= __('mag.fields.powierzchnia') %></th>
                    <th><%= __('mag.fields.iloscRegalow') %></th>
                    <th><%= __('mag.fields.iloscPolozen') %></th>
                    <th><%= __('mag.fields.cartCount') %></th>
                    <th><%= __('mag.fields.hallCount') %></th>
                    <th><%= __('mag.fields.scannerCount') %></th>
                    <% if(loggedUser) { %>
                    <th><%= __('mag.fields.actions') %></th>
                    <% } %>
                </tr>
           </thead>
           <tbody>
               <% for (let mag of magazyny) { %>
               <tr>
                   <td><%= mag.mag_kod %></td>
                   <td><%= mag.mag_nazwa %></td>
                   <td><%= mag.mag_krajPrefix %></td>
                   <td><%= mag.mag_powierzchnia %></td>
                   <td><%= mag.mag_iloscRegalow %></td>
                   <td><%= mag.mag_iloscPolozen %></td>
                   <td><%= mag.mag_iloscWozkow %></td>
                   <td><%= mag.mag_iloscHal %></td>
                   <td><%= mag.mag_iloscSkanerow %></td>
                   <% if(loggedUser) { %>
                   <td>
                        <ul>
                            <li>
                                <a href="/warehouses/details/<%=mag.mag_id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                            </li>
                            <li>
                                <a href="/warehouses/edit/<%=mag.mag_id%>" class="list-actions-button-edit "><%= __('list.actions.edit') %></a>
                            </li>
                            <li>
                                <a href="/warehouses/delete/<%=mag.mag_id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                            </li>
                        </ul>
                    </td>
                    <% } %>
                </tr>
            <% } %>
           </tbody>
        </table>
        <form class="form-editbtns">
            <% if(loggedUser) { %>
           <a href="warehouses/add" class="button-add"><%= __('mag.list.addNew') %></a>
           <% } %>
           <a href="/" class="button-return"><%= __('prc.list.backToMainPage') %></a>
        </form>        
    </main>
    <%- include('../../fragments/footer.ejs') %>