<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('frm.list.pageTitle') %></h2>
        <table class="table-Firm">
           <thead>  
               <tr>
                    <th><%= __('frm.fields.name') %></th>
                    <th><%= __('frm.fields.adress') %></th>
                    <th><%= __('frm.fields.postcode') %></th>
                    <th><%= __('frm.fields.town') %></th>
                    <th><%= __('mag.fields.countryPrefix') %></th>
                    <th><%= __('frm.fields.CEO') %></th>   
                    <% if(loggedUser){ %>           
                    <th><%= __('list.actions.title') %></th>
                    <% } %>                    
                </tr>             
           </thead>
           <tbody>
            <% for (let frm of firmy) { %>
               <tr>
                   <td><%= frm.frm_nazwa %></td>
                   <td><%= frm.frm_adres %></td>
                   <td><%= frm.frm_kodP %></td>
                   <td><%= frm.frm_miasto %></td>
                   <td><%= frm.frm_krajPrefix %></td>
                   <td><%= frm.frm_prezes %></td>
                   <% if(loggedUser){ %>                   
                   <td>
                    <ul>
                        <li>
                            <a href="/companies/details/<%=frm.frm_id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                        </li>
                        <li>
                            <a href="/companies/edit/<%=frm.frm_id%>" class="list-actions-button-edit "><%= __('list.actions.edit') %></a>
                        </li>
                        <li>
                            <a href="/companies/delete/<%=frm.frm_id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </li>
                    </ul>
                </td>
                <% } %> 
               </tr>
               <% } %>
           </tbody>
        </table>   
         <form class="form-editbtns">
            <% if(loggedUser){ %>
            <a href="companies/add" class="button-add"><%= __('frm.list.addNew') %></a> 
            <% } %> 
            <a href="/" class="button-return"><%= __('prc.list.backToMainPage') %></a>
        </form> 
    </main>
    <%- include('../../fragments/footer.ejs') %>