<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('prc.list.pageTitle') %></h2>
        <table class="table-Prac">
           <thead>
               <tr>
               <th><%= __('prc.fields.prc_imie') %></th>
               <th><%= __('prc.fields.prc_nazwisko') %></th>
               <th><%= __('prc.fields.prc_dataUrodzenia') %></th>
               <th><%= __('prc.fields.prc_stanowisko') %></th>
               <th><%= __('prc.fields.prc_stanCywilny') %></th>
               <th><%= __('prc.fields.magazyn') %></th>
               <th><%= __('prc.fields.firma') %></th>
               <th><%= __('list.actions.title') %></th>
            </tr>
           </thead>
           <tbody>
            <% for (let prc of pracownicy) { console.log(pracownicy) %>
               <tr>
                   <td><%= prc.prc_imie %></td>
                   <td><%= prc.prc_nazwisko %></td>
                   <td><%= prc.prc_dataUrodzenia.toISOString().split('T')[0]%></td>
                   <td><%= prc.prc_stanowisko %></td>
                   <td><%= prc.prc_stanCywilny %></td>
                   <td><%= prc.magazyn.mag_nazwa %></td>
                   <td><%= prc.firma.frm_nazwa  %></td>
                   <td>
                    <ul>
                        <li>
                            <a href="/employees/details/<%=prc.prc_id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                        </li>
                        <li>
                            <a href="/employees/edit/<%=prc.prc_id%>" class="list-actions-button-edit "><%= __('list.actions.edit') %></a>
                        </li>
                        <li>
                            <a href="/employees/delete/<%=prc.prc_id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </li>
                    </ul>
                </td>
               </tr>
               <% } %>
           </tbody>
        </table>
        <form class="form-editbtns">
            <a href="employees/add" class="button-add"><%= __('prc.list.addNew') %></a>
            <a href="/" class="button-return"><%= __('prc.list.backToMainPage') %></a>
         </form>        
        </main>
<%- include('../../fragments/footer.ejs') %>