        <footer>          
            <% if(!loggedUser) { %>
                <div id ="login">
                    <h5><%= __('main-page.LoggingIn') %></h5>
                    <form method="post" action="/login" novalidate>
                        <label for="imie"><%= __('main-page.Name') + ':' %> </label>
                        <input type="imie" id="imie" name="imie">
            
                        <label for="nazwisko"><%= __('main-page.SecondName') + ':' %></label>
                        <input type="nazwisko" id="nazwisko" name="nazwisko"> 
            
                        <label for="password"><%= __('main-page.Password') + ':' %></label>
                        <input type="password" id="password" name="password"> 
                        <input type="submit" value="<%= __('main-page.LogIn') %>">
                        <span id="loginErrors"><%= loginError ? loginError : ''%></span>
                    </form>
                </div>
                <% } else { %>
                    <span> <%= __('main-page.LoggedAs') + ':' %> <%=loggedUser.prc_imie + " " + loggedUser.prc_nazwisko%></span>
                    <a href="/logout"><%= __('main-page.LogOut') %></a>         
                    <% } %>
                    <br> <%= __('main-page.createdBy') %>  Piotr Łojko, S19514
        </footer>
      
    </body>
</html>